@font-face {
  font-family: "Inter";
  src: url("assets/inter/variable/inter-latin-standard-normal.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/jetbrains-mono/variable/jetbrains-mono-latin-wght-normal.woff2")
    format("woff2-variations");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("assets/space-grotesk/variable/space-grotesk-latin-wght-normal.woff2")
    format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
